/* App.css */

body {
    background: linear-gradient(135deg, #759479, #c5c9c6);
    overflow-x: hidden;
    color: #d1c0ce;
    font-family: 'Lato', sans-serif;
}
.app-container {
    position: relative;
    height: 100%;
}
