/* App.css */

body {
    background: linear-gradient(135deg,#b82c69, #ad9f9a);
    overflow-x: hidden;
    color: #fcf2fb;
    font-family: 'Lato', sans-serif;
}
.app-container {
    position: relative;
    height: 50%;
}
